<% if (theme.gitment && page.comments){ %>

  <div id="commentcontainer"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
    id: '<%= page.date %>', // 可选。默认为 location.href
    owner: 'Colin6618',
    repo: 'bloggitment',
    oauth: {
      client_id: '7d308904155b6fd7a3b4',
      client_secret: '1682df4a07a1b324afbb93fdde3dfdb872872317',
    },
  })
  gitment.render('commentcontainer')
  </script>

<% } %>